# Python caches
__pycache__/
*.py[cod]

# Editor settings
.vscode/
.idea/
*.swp

# Environment files
.env
.env.*
.venv/

# Build artifacts
build/
dist/
*.egg-info/
*.whl

# Docker & Singularity
*.sif
*.tar

.cache/
/workspace
/orca

# Misc
.DS_Store
cli/node_modules
cli/dist
quasar_cli/cli_dist/

# Jekyll
docs/_site/
